html {
    font-family: sans-serif;
    color:blueviolet;
}
h1 {
    color:brown;
    font-size: 45px;
    text-align:center;
    text-transform:none;
}
.content {
    font-size:24px;
    line-height: normal;
    color:rgb(83, 109, 31);
}
img {
    width:350px;
    margin-top:10px;
}
#bio-header  {
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
}
#skills-header {
    color:darkblue;
}
.bold {
    font-weight: bold;
}